body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  background-color: #4c4c4c;
  color: white;
  text-align: center;
  padding: 50px;
}
h1 {
  font-size: 40px;
}

@media (max-width: 768px) {
  .container {
    background-color: #2196f3;
  }
  h1 {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .container {
    background-color: #ff5722;
  }
  h1 {
    font-size: 24px;
  }
}
