body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}
.card {
  background-color: white;
  width: 300px;
  padding: 20px;
  margin: 50px auto;
  border: 2px solid #3498db;
  align-items: center;
}
h1 {
  columns: #3498db;
}
button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
}
